main,
body,
.main-footer__separator {
  background-color: #363636;
}

a .section-number,
.body-text a
{
  color: #04c3d5;
  /* color: #ffad56; */
}

.abl-button--primary, .abl-prose .abl-button--primary {
  background-color: #04c3d5;
}

.button {
  color: black !important;
}

.body-text,
.toc-list-nested .active > a,
.toc-list-nested .active > a .section-number   {
  color: #b5b5b5;
}

.toc-list-nested > ol > li + li {
  border-top-color: #464646;
}
